body{
    background-image: url("Green and Pink Watercolor Gender Neutral Birthday Greeting Card.png");
    background-size: cover;
    background-size: 600px;
}
h1{
    font-family: "Momo Signature";
    text-align: center;
   
}
h2{
    font-family: "Momo Signature";
    text-align: center;
    color: #FFAFE6;
}
p{
    color: #FFAFE6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
button{
    background-color: white;
    color: #FFAFE6;
    border-radius: 10px;
    padding: 10px;
    border-color: #FFAFE6;
    width: 150px;
}
.card{
    padding: 80px;
    align-items: center;
    margin: 10px;
   
}
.card-box{
    text-align: center;
  
}
.one{
   background-image:url("IMG_1175.png");
background-size:cover;
background-position-y: -50px;
background-position-x: -40px;
background-size: 230px 240px; 
}
.two{
background-image:url("IMG_1177.png");
background-size:cover;
background-position-y: -10px;
background-position-x: -10px;
background-size: 180px 190px;

}
.three {
    background-image: url("IMG_1178.jpeg");
    background-size: cover;
    background-position-y: -10px;
    background-position-x: -10px;
    background-size: 180px 190px;
    
}
.body1{
        background-image: url("text.png");
    background-size: cover;
    background-size: 600px;
}
.message{
    color: #000;
    font-size: 10px;
    width: 300px;
    text-align: justify;
    position: relative;
    left:40px;
    top: 100px;
}
.audio{
    position: relative;
    top:70px;
    left: 70%;
    padding: 20px;
    width: 20px;
    border-radius: 100px;
    background-image: url("IMG_1182.png");
    background-size: cover;
}
.text{
    color: black;
    position: relative;
    top: 110px;
    font-size: 10px;
}
.pic{
    padding: 40px;
    background-color: white;
    height: 400px;
}
.img{
    width: 380px;
    height: 450px;
    position: absolute;
   
}
.container{
   margin-left: 10px;
   margin-top:20px;
}
.back{
    position: relative;
top:30px;
left: 85%;
padding: 20px;
width: 20px;
border-radius: 100px;
background-image: url("IMG_1185.png");
background-size: cover;
}
.isa{
    top: 150px;
    left: -40px;
}
